---
title: INOVATIF | Teknik Informatika Angkatan 2018
# Social networks usernames (many more available: google-plus, flickr, dribbble, pinterest, instagram, tumblr, linkedin, etc.)
social:
  - title: instagram
    url: https://www.instagram.com/inovatif_18/

people:
- name: Rizal Rahabillah
  pic: rizal
  position: CO Angkatan
  social:
    - title: instagram
      url: https://www.instagram.com/rizal_rahabillah/
    - title: whatsapp
      url: https://api.whatsapp.com/send?phone=6287850232233
- name: Hezkia Vialen
  pic: vialen
  position: Wakil CO
  social:
    - title: instagram
      url: https://www.instagram.com/hekzaal/
    - title: whatsapp
      url: https://api.whatsapp.com/send?phone=6281234886868
- name: Kusuma Gigih
  pic: gigih
  position: Korlap
  social:
    - title: instagram
      url: https://www.instagram.com/kusumag.p/
    - title: whatsapp
      url: https://api.whatsapp.com/send?phone=6285706546844
- name: Denaya Yousi
  pic: denaya
  position: Sekretaris
  social:
    - title: instagram
      url: https://www.instagram.com/denayamahabahyousi/
    - title: whatsapp
      url: https://api.whatsapp.com/send?phone=6282257427521
- name: Nailatur Rohmah
  pic: naila
  position: Bendahara 1
  social:
    - title: instagram
      url: https://www.instagram.com/nyltr_rhmh/
    - title: whatsapp
      url: https://api.whatsapp.com/send?phone=6287851775257
- name: Kristiana Dewi
  pic: dewi
  position: Bendahara 2
  social:
    - title: instagram
      url: https://www.instagram.com/kristn12_/
    - title: whatsapp
      url: https://api.whatsapp.com/send?phone=6282333903016
---
<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">

    {% include header.html %}

    {% include preamble.html %}
    {% include struktur.html %}
    {% include filosofi.html %}
    {% include logo.html %}
    {% include kegiatan.html %}
    {% include penutup.html %}

    {% capture dump %}
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include modals.html %}
    {% endcapture %}
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>