<section id="penutup">
	<div class="container">
		<div class="row">
			{% capture ctn %}
			{% include content/penutup.md %}
			{% endcapture %}
			{{ ctn | markdownify }}
		</div>
	</div>
</section>
<header style="height: 500px; background-image: url('{{ site.baseurl }}/img/together.jpg');">
	<div class="container">

	</div>

</header>
<section>
	<nav class="container row" style="display: flex;align-items: center; margin: auto">
		<div>
			<img src="/img/logo_himatif.png" width="100px">
		</div>
		<div class="h1 text-bold text-center">
			POSTINGAN INI DI IKUT SERTAKAN DALAM <a href="https://www.instagram.com/p/Bu-29khnOAG/">LOMBA HIMATIF</a> UNIVERSITAS TRUNOJOYO MADURA
		</div>
	</nav>
</section>